<div>
  <a href="#" class="edit-profile" id="edit-profile">Edit Profile</a>
  <a href="#" class="NewBusiness" id="newBusiness">Become a Vendor</a>
  <a href="#" class="Orders" id="orders">Order History</a>
</div>
