<a href="#" id="analytics">Business Analytics</a>
<% current_user.vendors.each do |vendor| %>
  <a href="#" class="vendor-button" id="<%= vendor.slug %>"><%= vendor.name %></a>
<% end %>
<a href="#" id="edit-profile">Edit Profile</a>
<%= link_to "Create Business", new_vendor_path, method: :get %>
