<a href="#" id="analytics">Business Analytics</a>
<% current_user.vendors.each do |vendor| %>
  <a href="#" class="vendor-button" id="<%= vendor.slug  %>"><%= vendor.name %></a>
<% end %>
<a href="#" id="edit-profile">Edit Profile</a>
<a href="#" class="add-admin">Add Admin</a>
<a href="#" class="create-business">Create Business</a>
