<div class="row dashboard">
  <div class="small-2 columns side-menu full-height">
    <% if current_user.platform_admin? %>
      <p>Platform Admin</p>
    <% elsif current_user.vendor_admin? %>
      <%= render "vendor_side" %>
    <% elsif current_user.customer? %>
      <%= render "customer_side" %>
    <% end %>
  </div>
  <div class="row">
    <% if current_user.platform_admin? %>
      <p>Platform Admin</p>
    <% elsif current_user.vendor_admin? %>
      <%= render "vendor_main" %>
    <% elsif current_user.customer? %>
      <%= render "customer_main" %>
    <% end %>
  </div>
</div>
