<div class="row small-up-1 medium-up-2 large-up-4 featured-photos">
  <% photos.each do |photo| %>
  <div class="column">
    <%= link_to image_tag(photo.image.url, alt: photo.image.url), photo_path(photo.id) %>
  </div>
  <% end %>
</div>
