<br>
<div class="vendor-index">
<% @vendors.each do |vendor| %>
  <div class="row">
    <div class="medium-4 columns">
      <div class="card">
        <div class="content">
          <span class="title"><%= vendor.name %></span>
          <p><%= vendor.about %></p>
          <%= image_tag vendor.logo.url, class: 'vendor-logo' %>
        </div>
      </div>
    </div>
    <div class="medium-8 columns">
      <%= link_to image_tag(vendor.featured.image.url), photo_path(vendor.featured), class: "vendor-photo" unless vendor.photos.empty?%>
    </div>
  </div>
<% end %>
</div>
<br>
