<div class="index-photo photo">
  <% @photos.each do |photo| %>
    <p><%= link_to image_tag(photo.image.url, alt: photo.image.url), photo_path(photo.id) %></p>
    <p><%= photo.title %></p>
    <p><%= button_to "Edit", edit_platform_admin_photo_path(photo.id), method: :get, class: "button expanded" %></p>
    <p><%= button_to "Delete", platform_admin_photo_path(photo.id), method: :delete, class: "button expanded" %></p>
  <% end %>
</div>
