
.cart-image {
  height: 100px;
  object-fit: cover;
  width: 100px;
  }

.fi-x {
  color: red;
}

.fi-arrow-up {
  color: #2be28a;
}

.squish {
  width: 400px;
}


.fi-arrow-down {
  color: red
}

.hidden {
  display: none;
}
