$success: #086788;
$error: #941B0C;
$alert:   #BC3908;

@mixin flash-base($animation-name) {
  background-color: white;
  color: white;
  text-align: center;
  padding: 10px;
  animation-duration: 2s;
  animation-name: $animation-name;
  animation-timing-function: ease-in;
}

.flash-success {
  @include flash-base(fade-success);
}

.flash-error {
  @include flash-base(fade-error);
}

.flash-alert {
  @include flash-base(fade-alert);
}

@keyframes fade-success {
  from {background-color: $success;}
  to {background-color: white;}
}

@keyframes fade-error {
  from {background-color: $error;}
  to {background-color: white;}
}

@keyframes fade-alert {
  from {background-color: $alert;}
  to {background-color: white;}
}
