$global-radius: 4px;

.image-wrapper {
  width: 100%;
  height: 90%;
  overflow: hidden;
  color: #fff;
  position: relative;
  text-align: center;
  border-radius: $global-radius;
}

.image-overlay-content {
  width: 85%;
  position: absolute;
  overflow: hidden;
  top: 35%;
  left: 7.5%;

  a {
    color: #fff;
  }

  .vendor-thumbnail {
    border-radius: 100%;
    width: 3%;
    height: auto;
  }
}

.overlay-fade-in {

  p {
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 18px;
    opacity: 0;
    transition: all 0.2s linear;
  }

  img {
    transition: all 0.2s linear;
  }

  .image-overlay-content {
    opacity: 0;
    background-color: rgba(0,0,0, 0.4);
    color: #fff;
    transition: all 0.4s ease-in-out;
  }

  h5 {
    color: #fff;
  }

  h6 {
    color: #fff;
  }

  .company {
    padding-left: 2%;
  }


  .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 24px;
    background: rgba(#fff, .2);
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border: 1px solid #fff;
    opacity: .5;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 5px #000;
    }
  }


  &:hover .image-overlay-content {
    opacity: 1;
  }

  &:hover h5, p, .button {
    opacity: 1;
  }

  &:hover p {
    transition-delay: 0.1s;
  }

  &:hover .button {
    transition-delay: 0.2s;
  }
}
