// Default medium-gray color
$medium-gray: black;
// Default global padding
$global-padding: 1rem;
// Global value used for all elements that have a border radius.

// Setting the form border color
$form-border-color: $medium-gray;
// Setting the form padding
$form-padding: $global-padding;
// Setting the form border radius


@import "custom";



.log-in-form {
  background-color: rgba(#000, .2);
  border-radius: 5px;
  padding: $form-padding;
  color: #fff;
  font-family: monospace;

  .lead {
    padding-bottom: 2%;
    font-family: monospace;
    font-size: 24px;
  }

  input, select, textarea {
    color: #fff;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    box-shadow: none;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  textarea:focus, input:focus {
    color: inherit;
    background-color: inherit;
    border-bottom: solid 2px #086788;
  }



}
