.in-row {
  float: left;
  margin-right: 5px;
}

.third {
  float: left;
  width: 30%;
  padding: 5px;
}

.clearfix {
  overflow: auto;
}

.highlight {
  background-color: black;
}

a:hover {
  color: #aa2200;
  transition: all .3s ease-in-out;
  border-bottom: 2px solid #aa2200;
}

.geo-chart {
  width: 30%;
  margin: auto;
  margin-top: 30px;
}

.analytics {
}
