<br>
<h3 class="text-center"><%= @category.name %> Photos</h1>
<br>
<div class="row small-up-1 medium-up-1 large-up-2">
  <% @photos.each do |photo| %>
    <div class="column">
      <div class="flush text-center">
        <%= link_to image_tag(photo.image.url), photo_path(photo)  %>
        <%= link_to photo.vendor.name, vendor_path(photo.vendor.slug)%>
      </div>
    </div>
    <% end  %>
</div>
