<div class="row">
  <div class="small-12 small-centered columns intro">
    <p class="text category-header"><%= @category.name %> Photos</p>
    <p><i class="fi-camera"></i></p>
  </div>
</div>
<%= render partial: "shared/photos", locals: { photos: @photos } %>
